* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #0a0a0a;
  color: #00ff00;
}

a {
  color: inherit;
  text-decoration: none;
}
